<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Brain Segmentation Pipeline</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://bootswatch.com/4/flatly/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

  </head>
  <body>
    <div class="container">

      <div class="bs-docs-section">
        <h1> Brain Segmentation Pipeline </h1><br/>
        <p> Download the pipeline output file (output.json) that contains annotations of the tissue and magnet on the wafer image.
          If you previously specified e-mail address, it will be sent to your address as well: <b>{{ email }} </b>.
          This file is easily opened using the labelme software.
        </p>
      </div>
	<!--
      <div class="row" style="left: 50%;display: flex;align-items: center;justify-content: center">
        <a href="{{ output_file_path }}" download>
          <a class="btn btn-primary" href="{{ output_file_path }}" role="button" target="_blank">Download <i class="fa fa-download"></i></a>
        </a>
      </div>
	-->
     
      
    </div>
    
  </body>
</html>
